<h1>Login</h1>
<%= form_tag '/login', method: :post do %>
	<div>
		<% label_tag :email %>
		<%= email_field_tag :email %>
	</div>
	<div>
		<%= label_tag :password %>
		<%= password_field_tag :password %>
	</div>
	<div>
		<% submit_tag "login" %>
	</div>
<% end %>
