<h1>Sign up below!</h1>

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
		<% @user.errors.full_messages.each do | error | %>
		<p><% error %></p>
	<% end %>

	<div>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>
	<div>
		<%= f.label :fname, "First Name" %>
		<%= f.text_field :fname %>
	</div>
	<div>
		<%= f.label :lname, "Last Name" %>
		<%= f.text_field :lname %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.email_field :email %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
		<%= f.submit "Sign up" %>
	</div>
	<% end %>
<% end %>