<header>
	<h3><%= link_to 'Neigh', root_path %></h3>
	<nav>
		<ul>
			<% if current_user %>
				<li>Hello <%= current_user.username %></li>
				<li><%= link_to 'new bray', new_bray_path %></li>
				<li><%= link_to 'edit profile', edit_profile_path %></li>
				<li><%= link_to 'logout', logout_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'sign in', login_path %></li>
				<li><%= link_to 'sign up', new_user_path %></li>
			<% end %>
		</ul>
	</nav>
</header>