/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
	font-family: Arial;
	font-size: 18px;
	background-color: #DCF4FF;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: .15em 1em;
	background-color: white;
	border-bottom: 1px solid #68D1FF;
}

header h3 {
	font-weight: normal;
	display: inline-block;
}

header nav {
	float: right;
	margin-right: 2.5em;
}

header nav li {
	display: inline-block;
	font-size: .9em;
}

header nav li a {
	padding: .25em .5em;
	display: block;
	color: white;
	text-decoration: none;
	background-color: #68D1FF;
	border-radius: 6px 6px;
	margin-left: .5em;
}

main {
	width: 600px; 
	border: 1px solid #68D1FF; 
	margin: 100px auto;
	padding: 2em;
	background-color: white;
	border-radius: 12px 12px;
}

input {
	padding: .5em;
}

form div {
	margin-bottom: .5em;
}

.bray {
	padding: .25em 0;
	border-bottom: 1px solid #68D1FF;
}

.bray h3 {
	font-weight: normal;
}

.bray p {
	font-size: .80em;
	color: #999;
	font-style: italic;
}

.bray p a {
	text-decoration: none;
	color: #666;
}

textarea {
	padding: 1em;
	width: 400px;
	font-size: 1.25em;
}
