<div class="bray">
	<h3><%= bray.body %></h3>
	<p>posted <% time_ago_in_words(bray.created_at) %> by
	<p><%= link_to bray.user.username, bray.user %>
		<% if current_user and current_user == bray.user %>
		| <%= link_to 'X', bray, method: :delete %>
		<% end %>
	</p>
</div>