<h1>New Bray!</h1>

<%= form_for @bray do |f| %>
	<% if @bray.errors.any? %>
		<% @bray.errors.full_messages.each do | error | %>
		<p><%= error %></p>
		<% end %>
	<% end %>

	<div>
		<%= f.text_area :body, placeholder: "Write your bray here" %>
	</div>
	<div>
		<%= f.submit "Bray!" %>
	</div>
<% end %>